.dashboard__screen {
    width: 100%;
    height: 60vh; 

}
.dashboard__screen div {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.dashboard__screen div a {
    width: 60%;
    height: 40px;
    border: none;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard__screen div a:hover {
    transform: scale(1.05);
}
.dashboard__screen div a:first-child {
    background-color: rgb(5, 101, 32);
}
.dashboard__screen div a:last-child {
    background-color: rgb(214, 2, 2);
}
